#id_title {
    color: #03033f;
    font-size: 18px;
    width: 230px;
    height: 40px;
    border-style: none;
    text-align: center;
}

#id_body {
    color: #03033f;
    font-size: 18px;
    width: 230px;
    height: 40px;
    border-style: none;
    text-align: center;
}
  